body {
    padding-top: 50px;
}

#footer {
    height: 80px;
    margin: 0 0 20px;
    padding-top: 10px;
    /*background-color: #f5f5f5;*/
}

#footer p{
    /*margin: 20px 0;*/
}

/* Error handling */
#flash {
    margin: 20px 0 0;
}

thead {
    font-weight: bold;
}